BODY { background-color:#444444; color: #dddddd; font-family: Arial; font-weight: normal; font-style: normal; font-variant: ; font-size: small; }
.light-text { color: #555555; font-family: Arial; font-weight: normal; font-style: normal; font-variant: ; font-size: small; }
.bold-underline  { font-family: Arial; font-weight: bold; font-style: normal; text-decoration: underline; font-variant: ; font-size: medium; }
.auto-style1 {
	border-width: 0px;
}